/*  your css code here. If applicable */
td{
	border-collapse:collapse;
	border:2px solid grey;
}
td:nth-child(1),
td:nth-child(3) {
    width: 200px;
}
tr td:nth-child(2) {
    width: 600px;
}
tr{
	border-collapse:collapse;
}
ol{
	text-align:center;
}
li{
	text-align:center;
}