/*  your css code here. If applicable */
body{
	width:1100px;
	background-color:#91b091;
}
/* td:nth-child(odd){
	width:200;
} */
#one{
	width:200;
}
#two{
	width:600;
	text-align:center;
}
ol{
	display:block;
}